.current-details {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
.todays-date {
  color: #eeeeee;
}
.weather-description {
  color: #00adb5;
}
.high-low-temp {
  color: #00adb5;
}
.windspeed {
  color: #00adb5;
}
.humidity {
  color: #00adb5;
}
.current-weather {
  text-align: right;
  padding-top: 20px;
}
.pic {
  float: left;
  position: relative;
  bottom: 10px;
  left: 5px;
  width: 75px;
}
.current-temperature {
  color: #00adb5;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  line-height: 50px;
  position: relative;
  right: 25px;
}
.weather-forecast {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 50px;
  list-style: none;
  margin-top: 40px;
  padding: 0;
  text-align: left;
}
.day {
  color: #eeeeee;
  font-size: 25px;
}
.forecast-temp {
  color: #00adb5;
  font-size: 17px;
}
.cityName {
  color: #00adb5;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 20px;
  max-width: 300px;
  line-height: 25px;
}

.reducedCityName {
  color: #00adb5;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 20px;
  max-width: 300px;
  line-height: 25px;
}

@media (max-width: 376px) {
  .current-temperature {
    font-size: 50px;
    position: relative;
    right: 20px;
  }
  .cityName {
    font-size: 35px;
  }
  .reducedCityName {
    font-size: 25px;
  }
  .pic {
    float: left;
    position: relative;
    bottom: 7px;
    left: 7px;
    width: 65px;
  }
  .current-details {
    font-size: 12px;
    line-height: 15px;
    padding: 0 0 0 2px;
  }
  .current-weather {
    padding-top: 10px;
  }
}
