.day {
  color: #eeeeee;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}
.forecast-temp {
  color: #00adb5;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.icon {
  font-size: 40px;
}
.weather-forecast {
  font-weight: 400;
  line-height: 50px;
  list-style: none;
  margin-top: 20px;
  padding: 0;
  text-align: left;
}
@media (max-width: 376px) {
  .weather-forecast {
    font-weight: 400;
    line-height: 35px;
    margin-top: 10px;
  }
  .day {
    font-size: 15px;
  }
  .forecast-temp {
    font-size: 13px;
  }
}
